{% extends "overall/block-base.twig" %}

{% block block %}

    {% if fields.button %}
    <div class="buttonWrapper {% if fields.class %}{{ fields.class }}{% endif %}" {% if fields.style %}style="{{ fields.style }}"{% endif %}>
    {% include 'overall/button.twig' with fields.button %}
    </div>
    {% endif %}

{% endblock %}
