{% extends "overall/block-base.twig" %}
{% block block %}
    {% if fields.cards %}
    <section class="cardGrid {% if fields.class %} {{ fields.class }} {% endif %}" {% if fields.style %} style="{{ fields.style }}" {% endif %}>
    {% for card in fields.cards %}
    {% include "overall/card-image.twig" with {image: card, class: 'cardGrid__image'} %}
    {% endfor %}
    </section>
    {% endif %}
{% endblock %}
