{% extends "overall/block-base.twig" %}

{% block block %}

    {% if fields.class %}
    <div class="error {% if fields.class %} {{ fields.class }} {% endif %}" {% if fields.style %} style="{{ fields.style }}" {% endif %}>
    {% include 'overall/card-image.twig' with {
        'class': 'error__image',
        'image': {'title': '404', 'animation': 'error',
            'layers' : [
            {'layer': svg_folder ~'animation/404-1.svg'},
            {'layer': svg_folder ~'animation/404-2.svg'},
            {'layer': svg_folder ~'animation/404-3.svg'},
            {'layer': svg_folder ~'animation/404-4.svg'},
            {'layer': svg_folder ~'animation/404-5.svg'},
        ]},
    } %}
    </div>
    {% endif %}

{% endblock %}
