{% extends "overall/block-base.twig" %}

{% block block %}
    {% if fields.text %}
    <section class="example typo {% if fields.class %} {{ fields.class }} {% endif %}" {% if fields.style %} style="{{ fields.style }}" {% endif %}>
    {{ fields.text }}

    {% include 'overall/button.twig' with {
        title: 'Добре, я розумію',
        buttonType: 'button',
        type: {
            'style' : 'size-xs style-main-transparent',
            'icon_position': 'right',
            'icon': 'icon-triangle',
        },
    }
    %}
    </section>
    {% endif %}
{% endblock %}
