{% extends "overall/block-base.twig" %}

{% block block %}

    {% if fields.image and  fields.content %}
    <div class="hero-list {% if fields.class %} {{ fields.class }} {% endif %}" {% if fields.style %} style="{{ fields.style }}" {% endif %}>
        {% if fields.image.src or fields.image.layers  %}
        {% include "overall/card-image.twig" with {image: fields.image, class: 'hero-list__image'} %}
        {% endif %}

        {% if fields.content %}
        {% include "overall/list.twig" with {content: fields.content, class: 'hero-list__content'} %}
        {% endif %}
    </div>
    {% endif %}

{% endblock %}
