.main-accordion {
	.customBlock {
		.accordion {
			position: relative;
			display: flex;
			padding: var(--primary-size) var(--secondary-size);
			gap: var(--primary-size);

			input[type='radio'] {
				display: none;
				visibility: hidden;
			}

			&__radios {
				display: flex;
				flex-direction: column;
				gap: var(--primary-size);

				label {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 300px;
					transition: color .3s ease-in-out;

					svg {
						width: var(--primary-size);
						height: var(--primary-size);
						transition: transform .3s ease-in-out;
						transform: rotate(90deg);
						color: inherit;
					}
				}
			}

			&__contents {
				position: relative;
				display: flex;
				flex-direction: row;
				width: 100%;
				overflow: hidden;

				label {
					position: absolute;
					width: 100%;
					opacity: 0;
					transform: translateX(45px);
					transition: opacity .3s ease-in-out, transform .3s ease-in-out;
					pointer-events: none;
				}

				label:has(input:checked) {
					position: relative;
					opacity: 1;
					transform: translateX(0);
					transition: opacity .4s ease-in-out .1s, transform .4s ease-in-out .1s;
					pointer-events: auto;
				}
			}

			@for $i from 1 through 10 {
				&:has(.accordion__contents label:nth-child(#{$i}) input:checked) {
					.accordion__radios label:nth-child(#{$i}) {
						color: var(--color-green);

						svg {
							transform: rotate(0deg);
						}
					}
				}
			}
		}
	}
}