.main-card-grid {
	.customBlock {
		.cardGrid {
			position: relative;
			display: grid;
			padding: var(--primary-size) 0;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr;
			gap: var(--primary-size);
			@media (max-width: 1024px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (max-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}