.main-hero-article {
	.customBlock {
		padding: 0 var(--primary-horizontal-padding);

		.hero-article {
			position: relative;
			display: flex;
			width: 100%;
			max-width: var(--primary-block-width);
			padding: var(--primary-size) var(--secondary-size);
			margin-inline: auto;
			gap: var(--secondary-size);

			&.white {
				color: var(--color-black);
				border-radius: var(--primary-border-radius);
				background-color: var(--element-light-background);
			}

			&__image {
				max-width: 30%;
				@media(max-width: 768px) {
					max-width: 100%;
				}
			}

			&__content {
				display: flex;
				flex-direction: column;
			}

			.overallButton {
				align-self: flex-end;
				margin-top: auto;
				@media(max-width: 768px) {
					align-self: center;
				}
			}

			&:has(.hero-article__content + .hero-article__image) {
				.overallButton {
					align-self: flex-start;
					@media(max-width: 768px) {
						align-self: center;
					}
				}
			}

			&:has(.hero-article__image + .hero-article__content) {
				.overallButton {
					align-self: flex-end;
					@media(max-width: 768px) {
						align-self: center;
					}
				}
			}

			@media (max-width: 768px) {
				flex-direction: column-reverse;
				&__image {
					order: 1;
				}
				&__content {
					order: 2;
				}
			}
		}
	}
}





