.main-project-grid {
	.customBlock {
		.project-grid {
			position: relative;
			display: grid;
			padding: var(--primary-size) var(--secondary-size);
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr;
			gap: var(--primary-size);
			@media (max-width: 1024px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 768px) {
				grid-template-columns: 1fr;
			}
		}
	}
}