.main-single-accordion {
	.customBlock {
		.single-accordion {
			position: relative;
			z-index: 1;

			input[type='checkbox'] {
				display: none;
				visibility: hidden;
			}

			&__toggler {
				position: relative;
				z-index: 2;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: var(--primary-size) var(--secondary-size);
				cursor: pointer;
				transition: color .3s ease-in-out;
				gap: var(--primary-size);

				.title {
					font-size: clamp(16px, 1.8vw, 24px);
					font-weight: 700;
					line-height: 1.2;
				}

				svg {
					width: var(--primary-size);
					height: var(--primary-size);
					transition: transform .3s ease-in-out;
					transform: rotate(-90deg);
					color: inherit;
				}
			}

			&__article {
				position: relative;
				z-index: 1;
				overflow: hidden;
				max-height: 0;
				padding-bottom: 0;
				transition: max-height .3s ease-in-out, opacity .3s ease-in-out, transform .3s ease-in-out, padding .3s ease-in-out;
				transform: translateY(-15px);
				opacity: 0;
				padding-inline: var(--secondary-size);

				figure {
					float: left;
					overflow: hidden;
					width: 40%;
					margin-right: var(--primary-size);
					margin-bottom: var(--primary-size);
					border-radius: var(--primary-border-radius);
					@media (max-width: 768px) {
						float: none;
						width: 100%;
						max-width: 100%;
						margin-bottom: var(--primary-size);
						margin-inline: auto;
					}

					img {
						display: block;
						width: 100%;
						height: 100%;
						margin-bottom: 0;
						object-fit: cover;
						object-position: center;
					}
				}
			}

			&:has(input:checked) {
				z-index: 2;

				.single-accordion__toggler {
					color: var(--color-main);

					svg {
						transform: rotate(90deg);
					}
				}

				.single-accordion__article {
					max-height: 2000px;
					padding-bottom: var(--primary-size);
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
}