{% extends "overall/base.twig" %}

{% block base %}

    {% set blocks = [
        {'name': 'text-or-title',
            'fields': {
                'style': '',
                'text': '<p>text-or-title</p>',
            },
        }
    ] %}

    {% for block in blocks %}
        {% include 'blocks/main/' ~ block.name ~ '.twig' with
            {
                'block_group': 'main',
                'block_name': block.name,
                'fields': block.fields,
            }
        %}
    {% endfor %}

{% endblock %}