{% extends "overall/base.twig" %}

{% block base %}

    {% set blocks = [
        {'name': 'text-or-title',
            'fields': {
            'style': 'text-align: center',
            'class': 'tracker down',
            'text': '<h1><strong><span class="mce_size-xl mce_text-green">Задорожній Костянтин</span></strong></h1>',
        },

        },
        {'name': 'card-grid',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size); display: none',
            'class': 'tracker  left-right',
            'cards': [
                {'id': 1, 'title': 'basket', 'animation': 'move','layers' : [
                    {'layer': svg_folder ~'animation/basket-1.svg'},
                    {'layer': svg_folder ~'animation/basket-2.svg'},
                    {'layer': svg_folder ~'animation/basket-3.svg'},
                    {'layer': svg_folder ~'animation/basket-4.svg'},
                ]},
                {'id': 2, 'title': 'cash-back', 'animation': 'move', 'layers' : [
                    {'layer': svg_folder ~'animation/cash-back-1.svg'},
                    {'layer': svg_folder ~'animation/cash-back-2.svg'},
                    {'layer': svg_folder ~'animation/cash-back-3.svg'},
                    {'layer': svg_folder ~'animation/cash-back-4.svg'},
                ]},
                {'id': 3, 'title' :'mobile-wallet', 'animation': 'move','layers' : [
                    {'layer': svg_folder ~'animation/mobile-wallet-1.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-2.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-3.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-4.svg'},
                ]},
                {'id': 4,  'title': 'search', 'animation': 'move','layers' : [
                    {'layer': svg_folder ~'animation/search-1.svg'},
                    {'layer': svg_folder ~'animation/search-2.svg'},
                    {'layer': svg_folder ~'animation/search-3.svg'},
                    {'layer': svg_folder ~'animation/search-4.svg'},
                ]
                },
            ],
        },
        },
        {'name': 'card-slider',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size)',
            'class': 'tracker up',
            'interval': 4,
            'cards': [
                {'id': 1, 'title': 'basket', 'animation': 'live','layers' : [
                    {'layer': svg_folder ~'animation/basket-1.svg'},
                    {'layer': svg_folder ~'animation/basket-2.svg'},
                    {'layer': svg_folder ~'animation/basket-3.svg'},
                    {'layer': svg_folder ~'animation/basket-4.svg'},
                ]},
                {'id': 2, 'title': 'cash-back', 'animation': 'live', 'layers' : [
                    {'layer': svg_folder ~'animation/cash-back-1.svg'},
                    {'layer': svg_folder ~'animation/cash-back-2.svg'},
                    {'layer': svg_folder ~'animation/cash-back-3.svg'},
                    {'layer': svg_folder ~'animation/cash-back-4.svg'},
                ]},
                {'id': 3, 'title' :'mobile-wallet', 'animation': 'live','layers' : [
                    {'layer': svg_folder ~'animation/mobile-wallet-1.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-2.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-3.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-4.svg'},
                ]},
                {'id': 4,  'title': 'search', 'animation': 'live','layers' : [
                    {'layer': svg_folder ~'animation/search-1.svg'},
                    {'layer': svg_folder ~'animation/search-2.svg'},
                    {'layer': svg_folder ~'animation/search-3.svg'},
                    {'layer': svg_folder ~'animation/search-4.svg'},
                ]
                },
                {'id': 11, 'title': 'basket', 'animation': 'live','layers' : [
                    {'layer': svg_folder ~'animation/basket-1.svg'},
                    {'layer': svg_folder ~'animation/basket-2.svg'},
                    {'layer': svg_folder ~'animation/basket-3.svg'},
                    {'layer': svg_folder ~'animation/basket-4.svg'},
                ]},
                {'id': 12, 'title': 'cash-back', 'animation': 'live', 'layers' : [
                    {'layer': svg_folder ~'animation/cash-back-1.svg'},
                    {'layer': svg_folder ~'animation/cash-back-2.svg'},
                    {'layer': svg_folder ~'animation/cash-back-3.svg'},
                    {'layer': svg_folder ~'animation/cash-back-4.svg'},
                ]},
                {'id': 13, 'title' :'mobile-wallet', 'animation': 'live','layers' : [
                    {'layer': svg_folder ~'animation/mobile-wallet-1.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-2.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-3.svg'},
                    {'layer': svg_folder ~'animation/mobile-wallet-4.svg'},
                ]},
                {'id': 14,  'title': 'search', 'animation': 'live','layers' : [
                    {'layer': svg_folder ~'animation/search-1.svg'},
                    {'layer': svg_folder ~'animation/search-2.svg'},
                    {'layer': svg_folder ~'animation/search-3.svg'},
                    {'layer': svg_folder ~'animation/search-4.svg'},
                ]
                },
            ],
        },
        },
    ] %}

    {% for block in blocks %}
        {% include 'blocks/main/' ~ block.name ~ '.twig' with
            {
                'block_group': 'main',
                'block_name': block.name,
                'fields': block.fields,
            } %}
    {% endfor %}

{% endblock %}