{% extends "overall/base.twig" %}

{% block base %}

    {% set blocks = [
        {'name': 'text-or-title',
            'fields': {
            'style': 'text-align: left',
            'class': 'tracker down',
            'text': '<h1><strong><span class="mce_size-l">Мною реалізовані  проєкти.</span></strong></h1>',
        },
        },
        {'name': 'text-or-title',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size)',
            'class': 'tracker down',
            'text': '<h2><strong><span class="mce_size-s">Art проєкти:</span></strong></h2>',
        },
        },
        {'name': 'project-grid',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size);',
            'class': 'tracker down',
            'animation': 'flip',
            'projects': [
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'/page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
            ],
        },
        },
        {'name': 'text-or-title',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size)',
            'class': 'tracker down',
            'text': '<h2><strong><span class="mce_size-s">Інтернет магазини:</span></strong></h2>',
        },
        },
        {'name': 'project-grid',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size);',
            'class': 'tracker down',
            'animation': 'hover-up',
            'projects': [
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'/page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
            ],
        },
        },
        {'name': 'text-or-title',
            'fields': {
            'style': '',
            'class': 'tracker down',
            'text': '<h2><strong><span class="mce_size-s">Та інші:</span></strong></h2>',
        },
        },
        {'name': 'project-grid',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size);',
            'class': 'tracker down',
            'projects': [
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'/page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
            ],
        },
        },
        {'name': 'text-or-title',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size)',
            'class': 'tracker down',
            'text': '<h2><strong><span class="mce_size-s">Проєкти в слайдtрах:</span></strong></h2>',
        },
        },
        {'name': 'project-slider',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size)',
            'class': 'tracker up',
            'interval': 200,
            'animation': 'flip',
            'projects': [
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'/page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
            ],
        },
        },
        {'name': 'project-slider',
            'fields': {
            'style': 'margin-bottom: var(--secondary-size)',
            'class': 'tracker up',
            'interval': 200,
            'animation': 'hover-up',
            'projects': [
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'/page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
                {
                    'title': 'stolen life',
                    'src' : img_folder ~'projects/stolen-life.jpg',
                    'description': 'це документально-художній фотопроект, що розкриває життя звичайних українців, чиє життя було жорстоко перервано повномасштабним вторгненням Росії.',
                    'href': 'https://stolenlife.org/',
                    'button': {
                    'title': 'Дiзнатися більше',
                    'link': {
                        'url': site.url ~'page',
                    },
                    'type': {
                        'style' : 'size-s style-green-transparent',
                        'icon_position': 'right',
                        'icon': 'icon-triangle',
                    },
                },
                },
            ],
        },
        },
    ] %}

    {% for block in blocks %}
        {% include 'blocks/main/' ~ block.name ~ '.twig' with
            {
                'block_group': 'main',
                'block_name': block.name,
                'fields': block.fields,
            } %}
    {% endfor %}

{% endblock %}