/* extended styles
-------------------------------------------------------------- */

.typo {

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 2px;
    }

    b,

    strong {
        font-weight: 700;
    }

    p {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: inherit;
        text-decoration: underline;
        position: relative;

        &:hover {
            text-decoration: none;
        }
    }

    em {
        font-style: italic;
    }
    h1,h2,h3,h4,h5,h6 {
        line-height: 1.2
    }

    h1 {
        font-size: 32px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        font-size: 28px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h3 {
        font-size: 26px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h4 {
        font-size: 24px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h5 {
        font-size: 22px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h6 {
        font-size: 20px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        display: block;
        margin: 0 0 28px 0;
        list-style: none;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            padding-left: 22px;
            margin-bottom: 0;
            position: relative;
            list-style: none;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 11px;
                left: 2px;
                box-sizing: border-box;
                background-color: black;
                width: 4px;
                height: 4px;
                @include border-radius(50%);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ol {
        counter-reset: my-ol-counter;
        display: block;
        margin: 0 0 28px 0;
        list-style: none;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            padding-left: 22px;
            margin-bottom: 0;
            position: relative;

            &:before {
                content: counter(my-ol-counter) '. ';
                counter-increment: my-ol-counter;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: transparent;
                box-sizing: border-box;
                color: #000;
                font-weight: 400;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    blockquote {
        font-size: 18px;
        position: relative;
        padding: 4px 20px 4px 56px;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: grey;
        }

        b,
        strong {
            font-size: 24px;
            font-weight: 700;
        }

        p {
            line-height: 1.34;
            margin-bottom: 10px;
        }

        @media (max-width: 920px) {
            padding: 4px 20px 4px 22px;
        }
    }

    hr {
        margin-bottom: 14px;
        border: none;
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;

        &:last-child {
            margin-bottom: 0;
        }
    }

    table {
        border-top-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-left-style: solid;
        border-top-color: black;
        border-left-color: black;
        font-weight: normal;
        font-style: normal;
        line-height: normal;
        font-variant: normal;
        text-transform: none;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }

        tr {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: black;

            td,
            th {
                border-right-width: 1px;
                border-right-style: solid;
                border-right-color: black;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: black;
                padding: 20px;
            }
        }
    }

    .mce{
        &_text-white {
            color: var(--color-white);
        }
	    &_text-green {
		    color: var(--color-green);
	    }
	    &_text-pink {
		    color: var(--color-pink);
	    }
	    &_text-violet {
		    color: var(--color-violet);
	    }

	    &_size-xs{
		    font-size: 18px;
	    }
	    &_size-s{
		    font-size: 24px;
	    }
	    &_size-l{
		    font-size: 36px;
	    }
	    &_size-xl{
		    font-size: 64px;
	    }
	    &_size-xxl{
		    font-size: 72px;
	    }

    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.overallButton {
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all .3s cubic-bezier(0.7, 0, 0.3, 1), color .1s cubic-bezier(0.7, 0, 0.3, 1);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    z-index: 90;
    line-height: 1.5;

    svg {
        object-fit: contain;
        object-position: center;
        color: inherit;
        z-index: 100;
        flex-shrink: 0;
    }


    span {
        line-height: 1.2;
        transition: inherit;
        z-index: 100;
    }

    //sizes
    &.size-xl {
        font-size: 16px;
        gap: 10px;
        border-radius: 10px;
        padding: 17px 30px;

        svg {
            width: 24px;
            height: 24px;
        }

        @media (max-width: 1024px) {
            font-size: 12px;
            padding: 12px 18px;
            gap: 8px;


            svg {
                width: 12px;
                height: 12px;
            }
        }
    }

    //gradient
    &.style-gradient-white-blue {
        background-color: var(--color-blue);
        color: var(--color-white);
        border: 2px solid var(--color-blue);

        &:after {
            content: '';
            display: block;
            position: absolute;
            transition: all .35s;
            top: 0;
            left: -200%;
            width: 200%;
            height: 100%;
            background: linear-gradient(
                            90deg,
                            rgba(var(--color-white-rgb),1) 0,
                            rgba(var(--color-white-rgb),1) 70%,
                            rgba(var(--color-white-rgb),0) 100%,
            )
        }
        &:hover {
            color: var(--color-blue);

            &:after {
                left: 0;
            }
        }
    }

}

.cookiePopupWrapper {
	position: fixed;
	z-index: 112244;
	@include transform(translateZ(112244px));
	right: 0;
	@include opacity(0);
	bottom: -600px;
	left: 0;
	visibility: hidden;
	padding: 20px;
	background-repeat: repeat;
	background-position: -2px 7px;
	background-size: 15px;
	@include transition(all .4s);
	@media (max-width: 1024px) {
		padding: 0;
	}

	&.show {
		@include opacity(1);
		bottom: 0;
		visibility: visible;
	}

	.cookiePopup {
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 20px 24px;
		text-align: left;
		border-radius: 18px;
		background-color: rgba(var(--color-white-rgb), .8);
		backdrop-filter: blur(8px);
		@media (max-width: 1024px) {
			padding: 16px 18px;
			border-radius: 0;
		}

		.title {
			font-size: 24px;
			font-weight: 800;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 12px;
			color: var(--color-blue);
			gap: 12px;

			svg {
				width: 40px;
				height: 40px;
				color: var(--color-orange);
			}

			@media (max-width: 1024px) {
				font-size: 18px;
				line-height: 1.2;
				flex-direction: column;
				margin-bottom: 8px;
				text-align: center;
				gap: 6px;
			}
		}

		.cls {
			display: flex;
			align-items: flex-start;
			gap: 40px;
			@media (max-width: 1024px) {
				align-items: center;
				flex-direction: column;
				gap: 16px;
			}
		}

		.message {
			display: flex;
			flex-direction: column;
			color: var(--color-blue);
			gap: 14px;

			#cookie_text_toggle {
				display: none;
				@media (max-width: 1024px) {
					&:checked + .toggledContent .button {
						display: none;
					}
					&:checked + .toggledContent .typo {
						display: block;
					}
				}
			}

			.toggledContent {
				.button {
					font-family: inherit;
					font-size: 14px;
					font-weight: 400;
					display: none;
					max-width: max-content;
					margin: 0 auto;
					padding: 0 0 2px 0;
					cursor: pointer;
					border-top: none;
					border-right: none;
					border-bottom: dashed 1px var(--color-blue);
					border-left: none;
					background-color: transparent;
					-webkit-appearance: none;
					-moz-appearance: none;
					@media (max-width: 1024px) {
						display: inline-block;
						&:checked {
							display: none;
						}
					}
				}

				.typo {
					font-size: 16px;
					color: var(--color-blue);
					@media (max-width: 1024px) {
						font-size: 14px;
						line-height: 1.5;
						display: none;
						text-align: center;
						& * {
							font-size: 14px;
						}
					}
				}
			}
		}

		.overallButton {
			flex-shrink: 0;
		}
	}
}
