@font-face {
	font-family: 'Raleway';
	src: url('/assets/fonts/Raleway-Thin.woff2') format('woff2'),
	url('/assets/fonts/Raleway-Thin.woff') format('woff'),
	url('/assets/fonts/Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('/assets/fonts/Raleway-Regular.woff2') format('woff2'),
	url('/assets/fonts/Raleway-Regular.woff') format('woff'),
	url('/assets/fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('/assets/fonts/Raleway-Bold.woff2') format('woff2'),
	url('/assets/fonts/Raleway-Bold.woff') format('woff'),
	url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "icons";
	src: url("/assets/fonts/icons.ttf?0a4e5791cf7325a7fa0d0718034ee9d1") format("truetype"),
	url("/assets/fonts/icons.woff?0a4e5791cf7325a7fa0d0718034ee9d1") format("woff"),
	url("/assets/fonts/icons.woff2?0a4e5791cf7325a7fa0d0718034ee9d1") format("woff2");
}

.icon:before {
	display: block;
	font-family: icons;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon.icon-arrow:before {
	content: "\f101";
}
.icon.icon-burger:before {
	content: "\f102";
}
.icon.icon-close:before {
	content: "\f103";
}
.icon.icon-decor-arrow:before {
	content: "\f104";
}
.icon.icon-triangle:before {
	content: "\f105";
}
