/* footer
-------------------------------------------------------------- */
footer {
	padding: 0 var(--primary-size) var(--primary-size);

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: var(--primary-block-width);
		min-height: var(--element-height);
		background-color: var(--element-dark-background);
		padding-inline: var(--secondary-size);
		margin-inline: auto;
		gap: var(--primary-size);
	}
}

