/* header
-------------------------------------------------------------- */
header {
	padding: 0 var(--primary-horizontal-padding);

	.container {
		width: 100%;
		padding: var(--desctop-block-padding);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

