/* header
-------------------------------------------------------------- */
header {
	padding: var(--primary-size) var(--primary-size) 0;

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: var(--primary-block-width);
		padding: var(--desktop-block-padding);
		margin-inline: auto;
		gap: var(--primary-size);

		nav {
			ul {
				display: flex;
				flex-direction: row;
				gap: var(--primary-size);
			}
		}
	}
}

