/* header
-------------------------------------------------------------- */
header {
	padding: 0 var(--primary-horizontal-padding);

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-inline: auto;
		max-width: var(--primary-block-width);
		width: 100%;
		padding: var(--desktop-block-padding);
		gap: var(--primary-gap);
		nav {
			ul{
				display: flex;
				flex-direction: row;
				width: 100%;
				gap: var(--primary-gap);
				margin-left: auto;
			}
		}
	}
}

