/* main
-------------------------------------------------------------- */
body {
	font-family: var(--primary-font-family), sans-serif;
	//background-image: url("../img/example-1.webp");
	font-size: 16px;
	line-height: 1.6;
	display: flex;
	overflow-x: hidden;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	text-align: left;

	color: var(--color-blue);

	background-color: var(--color-white);
	font-feature-settings: 'pnum' on, 'lnum' on;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
main{
	flex: 1;
}
.customBlock, .container{
	position: relative;
	max-width: var(--primary-block-width);
	margin: 0 auto;
}




