/* main
-------------------------------------------------------------- */
body {
	font-family: var(--primary-font-family), sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	display: flex;
	overflow-x: hidden;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	text-align: left;
	color: var(--color-white);
	background-color: var(--color-black);
	font-feature-settings: 'pnum' on, 'lnum' on;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

main {
	flex: 1;
}

.customBlock{
	position: relative;
	max-width: var(--primary-block-width);
	margin: 0 auto;
}

.container {
	position: relative;
	max-width: var(--primary-block-width);
	margin: 0 auto;
}




