/* main
-------------------------------------------------------------- */
body {
	font-family: var(--primary-font-family), sans-serif;
	font-size: var(--primary-font-size);
	font-weight: 400;
	line-height: 1.6;
	display: flex;
	overflow-x: hidden;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	text-align: left;
	color: var(--color-white);
	background-color: var(--color-black);
	background-image: url('/assets/svg/decor-triangle.svg');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	animation: parallaxBg 30s  infinite alternate;
	font-feature-settings: 'pnum' on, 'lnum' on;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	@keyframes parallaxBg {
		from {
			background-size: 51%;
		}
		to {
			background-size: 49%;
		}
	}
}

main {
	flex: 1;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	line-height: 0;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 300px;
	white-space: nowrap;
	text-decoration: none;
	letter-spacing: -2px;
	color: transparent;
	background-image: var(--gradient-blue-violet);
	background-clip: text;
	gap: var(--primary-gap);
}

//.decorBorder {
//	position: relative;
//	border-radius: 10px;
//	backdrop-filter: blur(5px);
//
//	&::before {
//		position: absolute;
//		padding: 1px;
//		content: '';
//		pointer-events: none;
//		border-radius: inherit;
//		background: linear-gradient(to top right, var(--color-white) 5%, transparent 50%);
//		inset: 0;
//		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
//		-webkit-mask-composite: xor;
//		mask-composite: exclude;
//	}
//}
.decorBorder {
	border-radius: 10px;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2),
	inset 0 -1px 0 rgba(255, 255, 255, 0.6); /* яркая полоска сверху */
	backdrop-filter: blur(5px);
}

.phone {
	font-size: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	gap: var(--primary-gap);
}

.customBlock {
	position: relative;
	max-width: var(--primary-block-width);
	margin: 0 auto;
}

.container {
	position: relative;
	max-width: var(--primary-block-width);
	margin: 0 auto;
}




