/* main
-------------------------------------------------------------- */
html {
	background-color: var(--color-black);
}

body {
	font-family: var(--primary-font-family), sans-serif;
	font-size: var(--primary-font-size);
	font-weight: 400;
	line-height: 1.6;
	display: flex;
	overflow-x: hidden;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	text-align: left;
	color: var(--color-white);
	background-color: transparent;
	background-image: url('/assets/svg/decor-triangles.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 0;
	background-size: 50%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	&.no-scroll {
		overflow: hidden;
	}
}

main {
	flex: 1;
	margin-top: calc(var(--element-height) + var(--primary-size) * 2);
}

.customBlockWrapper {
	padding-inline: var(--primary-size);
}

.customBlock {
	position: relative;
	max-width: var(--primary-block-width);
	margin-inline: auto;
}




