/* main
-------------------------------------------------------------- */
html {

}

body {
	font-family: var(--primary-font-family), sans-serif;
	font-size: var(--primary-font-size);
	font-weight: 400;
	line-height: 1.6;
	display: flex;
	overflow-x: hidden;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	text-align: left;
	color: var(--color-white);
	background-color: var(--color-black);
	font-feature-settings: 'pnum' on, 'lnum' on;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	//background mast be  remake
	background-image: url('/assets/svg/decor.svg');
	background-repeat:  no-repeat repeat;
	background-position: center -160px;
	background-size: 1920px;

	@media (max-width: 1920px){
		background-image: url('/assets/svg/decor-desktop.svg');
		background-position: left top;
		background-size: 100%;
	}

	@media (max-width: 1024px){
		background-image: url('/assets/svg/decor-tablet.svg');
		background-position: left top;
	}

	@media (max-width: 768px){
		background-position: left top;
		background-size: 120%
	}
	&.no-scroll {
		overflow: hidden;
	}
}

main {
	flex: 1;
	margin-top: calc(var(--element-height) + var(--primary-size) * 2);
}

.customBlockWrapper {
	padding-inline: var(--primary-size);
}

.customBlock {
	position: relative;
	max-width: var(--primary-block-width);
	margin-inline: auto;
}




