/* variables!
-------------------------------------------------------------- */

:root {

    --color-white: #fff;
	--color-white-rgb: 255, 255, 255;
	--color-black: #020E0C;
	--color-block-rgb: ;
	--color-green: #1EEBCD;
	--color-green-rgb: 30, 235, 205;
	--color-dark-green: #0E2E29;
	--color-dark-green-rgb: 14, 46, 41;

    --primary-horizontal-padding:  10px;
    --primary-block-width: 1200px;
    --primary-font-family: 'Raleway', sans-serif;
}