/* variables!
-------------------------------------------------------------- */
:root {
	//color
	--color-white: #fff;
	--color-white-rgb: 255, 255, 255;
	--color-black: #020E0C;
	--color-block-rgb: ;
	--color-green: #1EEBCD;
	--color-green-rgb: 30, 235, 205;
	--color-dark-green: #0E2E29;
	--color-dark-green-rgb: 14, 46, 41;
	--color-blue: #2AF6FF;
	--color-blue-rgb: 42, 246, 255;
	--color-pink: #FF63CE;
	--color-pink-rgb: 255, 99, 206;
	--color-violet: #A56EF4;
	--color-violet-rgb: 165, 110, 244;
	//gradient
	--gradient-blue-violet: linear-gradient(170deg, var(--color-blue) 5%, var(--color-violet) 90%);
	--gradient-green-violet: linear-gradient(170deg, var(--color-green) 5%, var(--color-violet) 90%);
	//other
	--primary-block-width: 1290px;
	--secondary-block-width: 1920px;
	--primary-font-family: 'Raleway', sans-serif;
	--primary-blur-value: 5px;
	--primary-border-radius: 5px;
	--hover-shadow: 1px 1px 20px 2px rgba(var(--color-green-rgb), 0.6);
	--hover-drop-shadow: drop-shadow(1px 1px 2px rgba(var(--color-green-rgb), 0.6));
	//changed  variables
	--element-inline-padding: 60px;
	--primary-size: 20px;
	--primary-font-size: 24px;
	--element-height: 80px;
	@media (max-width: 1024px) {
		--element-inline-padding: 40px;
	}
	@media (max-width: 768px) {
		--primary-size: 14px;
		--primary-font-size: 20px;
	}
}