/* variables!
-------------------------------------------------------------- */

:root {

    --color-white: #fff;
    --color-blue: #092648;

    --primary-horizontal-padding:  10px;
    --primary-block-width: 1200px;
    --primary-font-family: Manrope, sans-serif;
}