{% set links = [
    {title: 'головна' , href: '/' },
    {title: 'проекти' , href: '/projects'},
    {title: 'графіка' , href: '/graphics'},
    {title: 'про мене' , href: '/about'},
] %}
<header>
    <div class="inner decorBorder leftToBottom">
        <article class="title typo">
            <a href="/start"><strong><span class="mce_size-l mce_text-blue-violet">Front-end Developer</span></strong></a>
        </article>
        <nav>
            <ul class="desktopMenu desktop-menu">
            {% for link in links %}
                <li><a href="{{ link.href }}">{{ link.title }}</a></li>
            {% endfor %}
                <li class="navThumb nav-thumb" aria-hidden="true"></li>
            </ul>
            <ul class="mobileMenu mobile-menu decorBorder rightToTop">
            {% for link in links %}
                <li><a href="{{ link.href }}">{{ link.title }}</a></li>
            {% endfor %}
            </ul>
            <button class="burger burger-toggler"><span></span></button>
        </nav>
    </div>
</header>
