{% set links = [
    {title: 'головна' , href: '/home' },
    {title: 'проекти' , href: '/projects'},
    {title: 'графіка' , href: '/graphics'},
    {title: 'про мене' , href: '/about'},
] %}
<header>
    <div class="inner decorBorder leftToBottom">
        <article class="title typo">
            <a href="/"><strong><span class="mce_size-l mce_text-blue-violet">Front-end Developer</span></strong></a>
        </article>
        <nav>
            <ul class="desktopMenu desktop-menu">
                {% for link in links %}
                    <li><a href="{{ link.href }}">{{ link.title }}</a></li>
                {% endfor %}
                <span class="navThumb nav-thumb"></span>
            </ul>
            <ul class="mobileMenu mobile-menu decorBorder rightToTop">
                {% for link in links %}
                    <li><a href="{{ link.href }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            <button class="burger burger-toggler">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 31">
                    <path fill="currentColor"
                          d="M52.5,5h-50C1.1,5,0,3.9,0,2.5S1.1,0,2.5,0h50C53.9,0,55,1.1,55,2.5S53.9,5,52.5,5z"/>
                    <path fill="currentColor"
                          d="M52.5,17.5h-30c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5h30c1.4,0,2.5,1.1,2.5,2.5S53.9,17.5,52.5,17.5z"/>
                    <path fill="currentColor"
                          d="M52.5,31h-50C1.1,31,0,29.9,0,28.5S1.1,26,2.5,26h50c1.4,0,2.5,1.1,2.5,2.5S53.9,31,52.5,31z"/>
                </svg>
            </button>
        </nav>
    </div>
</header>
