<header>
    <div class="inner decorBorder">
        {% include "overall/logo.twig" %}
        <nav>
            <ul>
                <li>text</li>
                <li>text</li>
                <li>text</li>
                <li>text</li>
            </ul>
        </nav>
    </div>
</header>
